<!DOCTYPE html>
<html>
<head>
<title><%=@title%></title>
<style>
body {
  width: 35em;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}
</style>
</head>
<body>
<h1><%=@platform%></h1>
<pre>
<%=`ohai`%>
</pre>
</body>
</html>

